@model MovieHolic.ViewModels.TagViewModels.TagViewModel;

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col">
        <span>@Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(model => model.Title)</span>
    </div>
</div>